BOT_TOKEN=your_telegram_bot_token
DB_PATH=data/price_parser.db
POLL_INTERVAL_SECONDS=10800
REQUEST_TIMEOUT_SECONDS=20
DEFAULT_CURRENCY=RUB
WB_ENABLED=true
OZON_ENABLED=true
YANDEX_MARKET_ENABLED=true
DAILY_REPORT_ENABLED=true
DAILY_REPORT_TIME=09:00
SCHEDULE_TIMEZONE=Europe/Moscow

MARKETPLACE_MAX_PAGES=8

PLAYWRIGHT_HEADLESS=true
DEBUG_CAPTURE_ENABLED=false
DEBUG_CAPTURE_DIR=data/debug
DEBUG_CAPTURE_HTML=true
DEBUG_CAPTURE_SCREENSHOT=true
